<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gap Fill</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row align-items-center height-70percent">
                <div class="col">
                    <h1 class="text-center text-primary-mid-green">Evaluation Set Complete</h1>
                    <div class="row justify-content-center">
                        <div class="col-sm-10 margin-top-5percent h5 text-primary-dark-grey">
                            <p>You’ve now completed the assessment phase of this test set.</p>
                            <p>Once you’ve written your comments you’ll be able to complete the evaluation by clicking
                                on 'finish’ below.</p>
                            <form action="/feedback"
                                  method="POST">
                                <div class="row justify-content-center form-group">
                                    <div class="col">
                                        <input type="hidden"
                                               name="setId"
                                               value={{setId}} />
                                        <input type="hidden"
                                               name="evaluatorId"
                                               value={{evaluatorId}} />
                                        <input type="hidden"
                                               name="sourceLanguage"
                                               value={{sourceLanguage}} />
                                        <textarea class="form-control"
                                                  name="feedback"
                                                  rows="10"
                                                  autofocus="autofocus"
                                                  required></textarea>
                                    </div>
                                </div>
                                <p>Thank you again. Much appreciated.</p>
                                <p>The GoURMET team.</p>
                                <div class="row justify-content-center form-group">
                                    <div class="col-md-2">
                                        <button type="submit"
                                                class="btn button-primary btn-block">Finish</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>