<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gap Fill</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col margin-top-5percent">
                    <h1 class="text-center text-primary-mid-green">Title of evaluation</h1>
                    <div class="row justify-content-center">
                        <div class="col-sm-8 margin-top-5percent h4 text-primary-dark-grey">
                            <p>Thank you for agreeing to act as a direct assessor for the Gourmet neural language
                                project.</p>
                            <p>Description of the task.</p>
                            <p>If you are happy to proceed please click ‘OK’.</p>
                        </div>
                    </div>

                    <form class="margin-top-5percent"
                          action="/start"
                          method="GET">
                        <div class="row justify-content-center form-group">
                            <div class="col-md-2">
                                <button type="submit"
                                        class="btn btn-block button-primary">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>