<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gap Fill</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col margin-top-5percent">
                    <h1 class="text-center text-primary-mid-green">Gap Fill Evaluation Task</h1>
                    <div class="row justify-content-center">
                        <div class="col-sm-8 margin-top-5percent h4 text-primary-dark-grey">
                            <p>Thank you for agreeing to act as an evaluator for the Gourmet neural language
                                project.</p>
                            <p>You will now be shown a series of 30 sentences. The sentence will have a number of gaps
                                in it, please fill in the gap with a single word you believe to be most appropriate.
                                Some sentences will be accompanied by a hint sentence. Please use this sentence to
                                inform your decision on the most appropriate word. Some sentences will have no hint, in
                                this case please make your best guess based on context alone.</p>
                            <p>If you are happy to proceed please click ‘OK’.</p>
                        </div>
                    </div>

                    <form class="margin-top-5percent"
                          action="/start"
                          method="GET">
                        <div class="row justify-content-center form-group">
                            <div class="col-md-2">
                                <button type="submit"
                                        class="btn btn-block button-primary">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="index__footer bg-white">
            <div class="container">
                <span class="text-primary-dark-grey">Evaluation Coordinator? Submit data sets <a
                       class="text-secondary-dark-purple"
                       href="{{datasetSubmissionUrl}}">here</a> and view results <a class="text-secondary-dark-purple"
                       href="{{exportDataUrl}}">here</a>.</span>
            </div>
        </footer>
    </body>

</html>