<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gap Fill</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row align-items-center height-70percent">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center text-primary-mid-green">{{title}}</h1>
                            <h2 class="text-center text-primary-dark-grey">{{subtitle}}</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <a class="btn button-primary btn-block margin-top-5percent"
                               href="{{url}}"
                               role="button">{{buttonText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </body>

</html>